.footer{
    background-color: rgb(6, 6, 49);
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: white;
    font-size: 2rem;
    font-weight: 600;
}